@import "../../Sass/mixins";

.bigCard {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 70px 80px;
  border-radius: 24px;
  border: 3px solid var(--light-yellow2);
  background: var(--white-opacity20);
  margin: 0 auto 200px;
  width: 1064px;
}

@media (max-width: 1400px) {
  .bigCard {
    width: 100%;
    padding: 36px;
  }
}

@include large {
  .bigCard {
    width: 700px;
  }
}

@include small {
  .bigCard {
    width: 100%;
  }
}



:root {
  --white: #ffffff;
  --very-light-gray: #EDF0F4;
  --white-opacity10: #ffffff1a;
  --white-opacity15: #ffffff26;
  --white-opacity20: #ffffff05;
  --black: #000000;
  --lighter-black: #141414;
  --black-pearl: #10151A;
  --liner-black: #10151A, #10151A;
  --dark-blue: #1B2A40;
  --dark-shade: #172852;
  --lighter-dark-shade: #262E37;
  --blue-gray: #2c3034;
  --gray: #343434;
  --lighter-gray: #393939;
  --medium-gray: #8C8C8C;
  --orange-yellow: #FFD600;
  --orange-yellow-opacity16: #ffe500;
  --yellow: #FFE501;
  --light-yellow: #FFD83D;
  --light-yellow2: #FFD12F;
  --liner-yellow: #FFD601, #FFB901;
  --liner-yellow2: #FFD600, #FFB800;
  --golden: #F3BA2F;
  --yellow-gray: #998728;
  --liner-cyan: #68C0FF, #207ACC;
  --skyblue: #00ACEE;
  --cyan-blue: #21A6FA;
  --cyan-blue-opacity15: #21a7fa26;
  --green-cyan: #01FFB3;
  --green-cyan-opacity15: #01ff00;
  --green: #86F045;
  --green-opacity15: #86F045;
  --purple: #8247E5;
  --liner-purple: #A96BF7, #3103B5;
  --light-purple: #D04BFF;
  --light-purple-opacity15: #d04b00;
  --pink: #FF49B6;
  --pink-opacity15: #FF49B6;
  --tomato: #E84142;
  --orange: #FF6F03;
  --light-orange: #FF792E;
  --light-orange-opacity15: #ff7900;
  --liner-orange: #FF7421, #EC5901;
}