@import "../../Sass/mixins";

.blockchainsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockChains {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 28px;
}

@include large {
  .blockChains {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@include small {
  .blockChains {
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.blockChains>div {
  flex: 1;
}

@include large {
  .blockChains>div {
    flex: 1;
  }
}