@import "../../Sass/mixins";

.mainContainer {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.titleContainer>h2 {
  font-size: 3.25rem;
  display: inline-block;
  line-height: 70px;
  text-shadow: 0 4px 18px rgba(0, 0, 0, .30);
}

@include medium {
  .titleContainer>h2 {
    font-size: 2rem;
    line-height: 40px;
  }
}

.titleContainer>h2>span {
  margin-right: 40px;
}

@include medium {
  .titleContainer>h2>span {
    margin-right: 20px;
  }
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--medium-gray);
  text-align: center;
  margin: 32px auto 80px;
  width: 730px;
}

@include medium {
  .text {
    font-size: .9375rem;
    line-height: 20px;
    width: 300px;
    margin-bottom: 40px;
  }
}

.mainContainer button {
  border: none;
  background-image: linear-gradient(to bottom, var(--liner-yellow));
  color: var(--black-pearl);
  padding: 16px 40px;
  border-radius: 16px;
  font-size: 1.25rem;
  font-weight: 700;
  box-shadow: 0 9px 44px rgba(255, 214, 0, .19);
  user-select: none;
  cursor: pointer;
}

@include medium {
  .mainContainer button {
    border-radius: 12px;
    padding: 12px 30px;
    font-size: 1.125rem;
  }
}


:root {
  --white: #ffffff;
  --very-light-gray: #EDF0F4;
  --white-opacity10: #ffffff1a;
  --white-opacity15: #ffffff26;
  --black: #000000;
  --lighter-black: #141414;
  --black-pearl: #10151A;
  --liner-black: #10151A, #10151A;
  --dark-blue: #1B2A40;
  --dark-shade: #172852;
  --lighter-dark-shade: #262E37;
  --blue-gray: #2c3034;
  --gray: #343434;
  --lighter-gray: #393939;
  --medium-gray: #8C8C8C;
  --orange-yellow: #FFD600;
  --orange-yellow-opacity16: #ffe500;
  --yellow: #FFE501;
  --light-yellow: #FFD83D;
  --liner-yellow: #FFD601, #FFB901;
  --liner-yellow2: #FFD600, #FFB800;
  --golden: #F3BA2F;
  --yellow-gray: #998728;
  --liner-cyan: #68C0FF, #207ACC;
  --skyblue: #00ACEE;
  --cyan-blue: #21A6FA;
  --cyan-blue-opacity15: #21a7fa26;
  --green-cyan: #01FFB3;
  --green-cyan-opacity15: #01ff00;
  --green: #86F045;
  --green-opacity15: #86F045;
  --purple: #8247E5;
  --liner-purple: #A96BF7, #3103B5;
  --light-purple: #D04BFF;
  --light-purple-opacity15: #d04b00;
  --pink: #FF49B6;
  --pink-opacity15: #FF49B6;
  --tomato: #E84142;
  --orange: #FF6F03;
  --light-orange: #FF792E;
  --light-orange-opacity15: #ff7900;
  --liner-orange: #FF7421, #EC5901;
}