@import "../../Sass/mixins";

.application {
  background-color: var(--blue-gray);
  padding: 8px 20px 8px 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

@include small {
  .application {
    padding: 6px 10px;
  }
}

.color {
  margin-right: 16px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  opacity: .15;
}

@include large {
  .color {
    width: 36px;
    height: 36px;
  }
}

@include small {
  .color {
    width: 24px;
    height: 24px;
    margin-right: 0;
    opacity: 0;
  }
}

.dot {
  --size: 16px;
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  left: calc(8px + 20px - (var(--size) / 2)); /* padding + .color width - (half dor size) */
}

@include large {
  .dot {
    --size: 14px;
    left: calc(8px + 18px - (var(--size) / 2));
  }
}

@include small {
  .dot {
    --size: 12px;
    left: calc(8px + 10px - (var(--size) / 2));
  }
}

.nameApp {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 32px;
}

@include large {
  .nameApp {
    font-size: .9rem;
  }
}

@include small {
  .nameApp {
    font-size: .8rem;
    line-height: 24px;
  }
}


:root {
  --white: #ffffff;
  --very-light-gray: #EDF0F4;
  --white-opacity10: #ffffff1a;
  --white-opacity15: #ffffff26;
  --black: #000000;
  --lighter-black: #141414;
  --black-pearl: #10151A;
  --liner-black: #10151A, #10151A;
  --dark-blue: #1B2A40;
  --dark-shade: #172852;
  --lighter-dark-shade: #262E37;
  --blue-gray: #2c3034;
  --gray: #343434;
  --lighter-gray: #393939;
  --medium-gray: #8C8C8C;
  --orange-yellow: #FFD600;
  --orange-yellow-opacity16: #ffe500;
  --yellow: #FFE501;
  --light-yellow: #FFD83D;
  --liner-yellow: #FFD601, #FFB901;
  --liner-yellow2: #FFD600, #FFB800;
  --golden: #F3BA2F;
  --yellow-gray: #998728;
  --liner-cyan: #68C0FF, #207ACC;
  --skyblue: #00ACEE;
  --cyan-blue: #21A6FA;
  --cyan-blue-opacity15: #21a7fa26;
  --green-cyan: #01FFB3;
  --green-cyan-opacity15: #01ff00;
  --green: #86F045;
  --green-opacity15: #86F045;
  --purple: #8247E5;
  --liner-purple: #A96BF7, #3103B5;
  --light-purple: #D04BFF;
  --light-purple-opacity15: #d04b00;
  --pink: #FF49B6;
  --pink-opacity15: #FF49B6;
  --tomato: #E84142;
  --orange: #FF6F03;
  --light-orange: #FF792E;
  --light-orange-opacity15: #ff7900;
  --liner-orange: #FF7421, #EC5901;
}
