@import "../../Sass/mixins";

.header {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

@include large {
  .header {
    padding: 20px 10px;
  }
}