@import "../../Sass/mixins";

.mobileNavContainer {
  display: none;
}

@include small {
  .mobileNavContainer {
    display: block;
  }
}

.mobileNavContainer>i {
  font-size: 1.6rem;
  cursor: pointer;
}
