@import "../../Sass/mixins";

.nav {
  display: flex;
  align-items: center;
}

@include small {
  .nav {
    display: none;
  }
}

.nav a {
  color: var(--white);
  font-weight: 600;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav ul li:not(:last-child) {
  margin-right: 52px;
}

@include large {
  .nav ul li:not(:last-child) {
    margin-right: 40px;
  }
}

.twitter {
  margin-left: 40px;
  padding: 6px 16px 6px 12px;
  border-radius: 8px;
  background-color: var(--lighter-dark-shade);
}

@include medium {
  .twitter {
    margin-left: 20px;
  }
}

.twitter i {
  margin-right: 10px;
  color: var(--skyblue);
  font-size: 1.125rem;
}

.twitter span {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}



:root {
  --white: #ffffff;
  --very-light-gray: #EDF0F4;
  --white-opacity10: #ffffff1a;
  --white-opacity15: #ffffff26;
  --black: #000000;
  --lighter-black: #141414;
  --black-pearl: #10151A;
  --liner-black: #10151A, #10151A;
  --dark-blue: #1B2A40;
  --dark-shade: #172852;
  --lighter-dark-shade: #262E37;
  --blue-gray: #2c3034;
  --gray: #343434;
  --lighter-gray: #393939;
  --medium-gray: #8C8C8C;
  --orange-yellow: #FFD600;
  --orange-yellow-opacity16: #ffe500;
  --yellow: #FFE501;
  --light-yellow: #FFD83D;
  --liner-yellow: #FFD601, #FFB901;
  --liner-yellow2: #FFD600, #FFB800;
  --golden: #F3BA2F;
  --yellow-gray: #998728;
  --liner-cyan: #68C0FF, #207ACC;
  --skyblue: #00ACEE;
  --cyan-blue: #21A6FA;
  --cyan-blue-opacity15: #21a7fa26;
  --green-cyan: #01FFB3;
  --green-cyan-opacity15: #01ff00;
  --green: #86F045;
  --green-opacity15: #86F045;
  --purple: #8247E5;
  --liner-purple: #A96BF7, #3103B5;
  --light-purple: #D04BFF;
  --light-purple-opacity15: #d04b00;
  --pink: #FF49B6;
  --pink-opacity15: #FF49B6;
  --tomato: #E84142;
  --orange: #FF6F03;
  --light-orange: #FF792E;
  --light-orange-opacity15: #ff7900;
  --liner-orange: #FF7421, #EC5901;
}