@import "../../Sass/mixins";

.footer {
  width: 100%;
  padding: 26px;
  background-image: linear-gradient(180deg, #FFD600, #FFC700);
  display: flex;
  align-items: center;
}

.footerContainer {
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "logo nav social" "info info info";
}

@include small {
  .footerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 35px) 1fr;
    grid-template-areas: "logo" "nav" "social" "info";
    gap: 20px;
  }
}

.logo {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
}

@include small {
  .logo {
    justify-content: center;
  }
}

@include medium {
  .logo img {
    width: 32px;
  }
}

.logo {
  gap: 10px;
  transition: opacity .2s;

  & a {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &:hover {
    opacity: .7;
  }
}

.logo span {
  color: var(--black);
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.762px;
  letter-spacing: .3px;
  display: none;
}

@include small {
  .logo span {
    display: block;
  }
}

.footerContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
  grid-area: nav;
}

@include small {
  .footerContainer ul {
    gap: 32px;
  }
}

.footerContainer ul li {
  width: max-content;
}

.footerContainer ul li a {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 36px;
  position: relative;
  transition: color .2s;

  &:hover {
    color: var(--dark-shade);
  }
}

@include small {
  .footerContainer ul li a {
    font-size: .875rem;
    line-height: 24px;
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
  grid-area: social;
}

@include small {
  .socialMedia {
    justify-content: center;
  }
}

.socialMedia i {
  color: var(--black);
  font-size: 1.5rem;
  opacity: .7;
  cursor: pointer;
  transition: opacity .2s, color .2s;

  &:hover {
    opacity: 1;
    color: var(--skyblue);
  }
}

@include small {
  .socialMedia i {
    font-size: 1.2rem;
  }
}

.info {
  color: var(--black-pearl);
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: -.4px;
  word-spacing: -2px;
  line-height: 30px;
  margin-top: 10px;
  grid-area: info;
}

.info a {
  color: inherit;
  margin-left: 7px;
  position: relative;
  opacity: .8;

  &:hover {
    color: var(--black);
    opacity: 1;
  }
}

.info a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--black-pearl);
  transition: opacity .2s, height .1s;
}

.info a:hover::before {
  opacity: 1;
  height: 3px;
  background-color: var(--black);
}



:root {
  --white: #ffffff;
  --very-light-gray: #EDF0F4;
  --white-opacity10: #ffffff1a;
  --white-opacity15: #ffffff26;
  --black: #000000;
  --lighter-black: #141414;
  --black-pearl: #10151A;
  --liner-black: #10151A, #10151A;
  --dark-blue: #1B2A40;
  --dark-shade: #172852;
  --lighter-dark-shade: #262E37;
  --blue-gray: #2c3034;
  --gray: #343434;
  --lighter-gray: #393939;
  --medium-gray: #8C8C8C;
  --orange-yellow: #FFD600;
  --orange-yellow-opacity16: #ffe500;
  --yellow: #FFE501;
  --light-yellow: #FFD83D;
  --light-yellow2: #FFD12F;
  --liner-yellow: #FFD601, #FFB901;
  --liner-yellow2: #FFD600, #FFB800;
  --golden: #F3BA2F;
  --yellow-gray: #998728;
  --liner-cyan: #68C0FF, #207ACC;
  --skyblue: #00ACEE;
  --cyan-blue: #21A6FA;
  --cyan-blue-opacity15: #21a7fa26;
  --green-cyan: #01FFB3;
  --green-cyan-opacity15: #01ff00;
  --green: #86F045;
  --green-opacity15: #86F045;
  --purple: #8247E5;
  --liner-purple: #A96BF7, #3103B5;
  --light-purple: #D04BFF;
  --light-purple-opacity15: #d04b00;
  --pink: #FF49B6;
  --pink-opacity15: #FF49B6;
  --tomato: #E84142;
  --orange: #FF6F03;
  --light-orange: #FF792E;
  --light-orange-opacity15: #ff7900;
  --liner-orange: #FF7421, #EC5901;
}